#####################################################################
#   LED Control
#####################################################################

[neopixel case]
pin: PC6
chain_count: 90
color_order: GRB
initial_RED: 1.0
initial_GREEN: 1.0
initial_BLUE: 1.0



