[gcode_macro PRINT_START]           # This one should be used instead of the normal G32 / QGL in the Print_start macro
gcode:
    {% set X_MID = printer.configfile.config["stepper_x"]["position_max"]|float / 2.0 %}
    {% set Y_MID = printer.configfile.config["stepper_y"]["position_max"]|float / 2.0 %}
    {% set defaultWN = printer["gcode_macro euclidvars"].defaultwarmnozzle|float %}
    {% set ZSpeed = printer["gcode_macro euclidvars"].zprobespeed|float %}
    {% set ZSamples = printer["gcode_macro euclidvars"].zprobesamples|int %}
    {% set ZTolerance = printer["gcode_macro euclidvars"].zprobetolerance|float %}
    {% set ZRetract = printer["gcode_macro euclidvars"].zproberetract|float %}
    {% set ZP_CAL = printer["gcode_macro euclidvars"].euclidzcompensation|float %}
    {% set MeshToApply = printer["gcode_macro euclidvars"].meshtoapply|default() %}
    BED_MESH_CLEAR
    M118 Probing Z is done using following Settings:
    M118 Speed: {ZSpeed} mm/s
    M118 Samples: {ZSamples}
    M118 Sample Tolerance: {ZTolerance} mm
    M118 Sample Retract: {ZRetract} mm
    M118 Your Current Z Compensation Value is: {ZP_CAL} mm
    M118 Heating up Nozzle to {defaultWN} C...
    M109 S{defaultWN}
    G4 P1000
    {% if printer.toolhead.homed_axes != "xyz" %} G28 {% endif %}
    QUERY_PROBE
    M401
    QUAD_GANTRY_LEVEL_ORIGINIAL
    G28 Z
    {% if MeshToApply == "INSITU" %}
        BED_MESH_CALIBRATE_ORIGINIAL SAMPLES=3
        BED_MESH_PROFILE SAVE=INSITUMESH
        BED_MESH_OUTPUT PGP=0
    {% else %}
        {% if printer["gcode_macro euclidvars"].doapplymesh|default() == true and MeshToApply != "NONE" %}
            BED_MESH_PROFILE LOAD={MeshToApply}
            M118 Applying {MeshToApply} mesh prior to sampling.
        {% else %}
            M118 Not applying a mesh prior to sampling.
        {% endif %}
    {% endif %}
    G90
    G0 X{X_MID} Y{Y_MID} F3500
    G91  
    PROBE samples_result=median samples={ZSamples} speed={ZSpeed} samples_tolerance={ZTolerance} samples_tolerance_retries=3 sample_retract_dist={ZRetract}
    _CHECK_PROBE1























#[gcode_macro PRINT_START]
#gcode: 
#    {% set bedtemp = params.BED|int %}
#    {% set hotendtemp = params.HOTEND|int %}
#    {% set chambertemp = params.CHAMBER|default(0)|int %}
#   {% set defaultWN = printer["gcode_macro euclidvars"].defaultwarmnozzle|int %}                              <-----------
#   BED_MESH_CLEAR
#    SET_GCODE_OFFSET Z=0.0
#    G28
#    PARKCENTER                        
#    M104 S{defaultWN}                                                                                          <-----------
#    M190 S{bed_temp}                                                       
#    TEMPERATURE_WAIT SENSOR="temperature_sensor Chamber" MINIMUM={chambertemp}   
#    G3201                                                                                                      <-----------
#    PARKCENTER
#    M109 S{hotendtemp} 
#    G1 X55 Y2 Z0.85 F12000;
 #   G1 X85 Y2 E20 F100;
 #   G1 X90 F18000;